@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

$link-color:#8d561f;
$cursor-color:rgba(159, 150, 118,0.5);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Playfair Display";
}
a{
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
body{
    background: #FAF5E3;
    overflow-y: scroll;
}

*::-webkit-scrollbar 
{
    display: none;
}

.cursor
{
    position: absolute;
    z-index: 99;
    height: 45px;
    width: 45px;
    top: 0;
    left:0;
    border-radius: 50%;
    background: $cursor-color;
    opacity: 0;
}

p{
    cursor:default;
}

span.space
{
    color: transparent;
}

header
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.header
{
    width: 85%;
    max-width: 1300px;
}

.header
{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    .About-btn{
        font-weight: 700;
        font-family: sans-serif;
        cursor: pointer;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        text-align: end;
    }
    .links
    {
        height: 55%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-family: sans-serif;
            font-weight: 400;
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: space-between;
            width: 250px;
            li{
                font-family: sans-serif;
                color: $link-color;
                text-decoration: underline;
            }
        }
    }

    .logo
    {
        height: 30px;
        width: 55px;
        display: flex;
        justify-content: space-between;
        span{
            display: block;
            font-family: sans-serif;
            &:first-child{
                font-weight: 700;
                font-size: 17px;
                align-self: flex-start;
            }
            &:last-child{
                font-size: 14px;
                align-self: flex-end;
            }
        }

    }

    @media screen and(max-width:550px) {
        margin-top: 2rem;
        flex-direction: column;
        .About-btn
        {
            margin-top: 2rem;
            width: unset;
            min-width: unset;
            max-width: unset;
        }
        .links
        {
            ul{
                margin-top: 1rem;
            }
        }
    }
}

.title{
    width: 85%;
    max-width: 1300px;
    margin: calc(5rem + 100px) auto;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    p{
        overflow: hidden;
        display: flex;
        font-size: clamp(3rem,10vw,7rem);
    }
    p:last-of-type{
        align-self: flex-end;
    }
    span{
        display: block;
        font-size: inherit;
    }

    @media screen and(max-width:550px)
    {
        margin: calc(15rem) auto;
    }

    @media screen and(max-width:490px)
    {
        p
        {
            font-size: clamp(2rem,10vw,3rem);
        }
    }
}

.about
{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    &-content
    {
        display: flex;
        flex-direction: column;
        width: 85%;
        max-width: 1300px;
        margin: calc(5rem + 100px) auto;

        @media screen and(max-width:550px)
        {
            margin: calc(15rem) auto;
        }

        p{
            font-weight: 300;
            font-size: clamp(1rem,6vw,7rem);
            display: flex;
            overflow: hidden;
            span{
                display: block;
                transform: translateY(100%);
                &.space
                {
                    color: transparent;
                }
            }
            &:nth-of-type(2)
            {
                justify-content: flex-end;
            }        
        }

        .img-paragraph{
            margin: 1rem auto 0 auto;

            display: grid;
            grid-template-columns: .8fr 1.2fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            div{ grid-area: 1 / 1 / 2 / 2;}
            img { grid-area: 1 / 2 / 3 / 3; }
            figure { grid-area: 2 / 1 / 3 / 2; }
                
            figure
            {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-right: 1rem;
                font-size: .9rem;
                
                figcaption
                {
                    width: 50%;
                    min-width: 180px;
                    font-family:sans-serif;
                }
            }
            img{
                max-width: 650px;
                width: 100%;
            }
            img,figure
            {
                &.img-unrevealed
                {
                    transform: translateY(100%) rotate(25deg);
                    opacity: 0;
                }
                &.img-revealed
                {
                    transform: translateY(0%) rotate(0deg);
                    opacity: 1;
                }
            }

            @media screen and(max-width:950px) 
            {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 6fr 1fr;
                    
                div{ grid-area: 1 / 1 / 2 / 2; }
                img {
                    grid-area: 2 / 1 / 3 / 2; 
                    max-width: unset;
                }
                figure { 
                    grid-area: 3 / 1 / 4 / 2;
                    figcaption
                    {
                        width: 100%;
                        max-width: unset;
                        text-align: center;
                    }
                 }    
            }

            @media screen and(max-width:625px) 
            {
                grid-template-rows: 1fr 4fr 2fr;
            }
        }

    }
}

@keyframes letter-animation-unreveal {
    from{
        transform: translateY(0);
        opacity: 1;
    }to{
        transform: translateY(-100%);
        opacity: 0.5;
    }
}

@keyframes letter-animation-reveal {
    from{
        transform: translateY(-100%);
        opacity: 0.5;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes from-bottom-letter-reveal {
    from{
        transform: translateY(100%);
    }to{
        transform: translateY(0%);
    }
}

@keyframes from-bottom-letter-unreveal {
    from{
        transform: translateY(0%);
    }to{
        transform: translateY(100%);
    }
}


@keyframes animateBackgound {
    from{
        background-color: rgb(250, 245, 227);
    }to{
        background-color: rgb(195, 185, 150);
    }
}

@keyframes revertAnimateBackgound {
    from{
        background-color: rgb(195, 185, 150);
    }to{
        background-color: rgb(250, 245, 227);
    }
}

@keyframes animate-reveal-Img {
    from{
        transform: translateY(100%) rotate(25deg);
        opacity: 0;
    }to{
        transform: translateY(0%) rotate(0deg);
        opacity: 1;
    }
}

@keyframes animate-unreveal-Img {
    from{
        transform: translateY(0%) rotate(0deg);
        opacity: 1;
    }to{
        transform: translateY(100%) rotate(25deg);
        opacity: 0;
    }
}
