@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: "Playfair Display";
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

body {
  background: #FAF5E3;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: absolute;
  z-index: 99;
  height: 45px;
  width: 45px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(159, 150, 118, 0.5);
  opacity: 0;
}

p {
  cursor: default;
}

span.space {
  color: transparent;
}

header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.header {
  width: 85%;
  max-width: 1300px;
}

.header {
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .About-btn {
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  text-align: end;
}

.header .links {
  height: 55%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .links p {
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
}

.header .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

.header .links ul li {
  font-family: sans-serif;
  color: #8d561f;
  text-decoration: underline;
}

.header .logo {
  height: 30px;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo span {
  display: block;
  font-family: sans-serif;
}

.header .logo span:first-child {
  font-weight: 700;
  font-size: 17px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header .logo span:last-child {
  font-size: 14px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 550px) {
  .header {
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .About-btn {
    margin-top: 2rem;
    width: unset;
    min-width: unset;
    max-width: unset;
  }
  .header .links ul {
    margin-top: 1rem;
  }
}

.title {
  width: 85%;
  max-width: 1300px;
  margin: calc(5rem + 100px) auto;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title p {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(3rem, 10vw, 7rem);
}

.title p:last-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.title span {
  display: block;
  font-size: inherit;
}

@media screen and (max-width: 550px) {
  .title {
    margin: calc(15rem) auto;
  }
}

@media screen and (max-width: 490px) {
  .title p {
    font-size: clamp(2rem, 10vw, 3rem);
  }
}

.about {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  max-width: 1300px;
  margin: calc(5rem + 100px) auto;
}

@media screen and (max-width: 550px) {
  .about-content {
    margin: calc(15rem) auto;
  }
}

.about-content p {
  font-weight: 300;
  font-size: clamp(1rem, 6vw, 7rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.about-content p span {
  display: block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.about-content p span.space {
  color: transparent;
}

.about-content p:nth-of-type(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-content .img-paragraph {
  margin: 1rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .8fr 1.2fr;
      grid-template-columns: .8fr 1.2fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-content .img-paragraph div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.about-content .img-paragraph img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.about-content .img-paragraph figure {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.about-content .img-paragraph figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 1rem;
  font-size: .9rem;
}

.about-content .img-paragraph figure figcaption {
  width: 50%;
  min-width: 180px;
  font-family: sans-serif;
}

.about-content .img-paragraph img {
  max-width: 650px;
  width: 100%;
}

.about-content .img-paragraph img.img-unrevealed, .about-content .img-paragraph figure.img-unrevealed {
  -webkit-transform: translateY(100%) rotate(25deg);
          transform: translateY(100%) rotate(25deg);
  opacity: 0;
}

.about-content .img-paragraph img.img-revealed, .about-content .img-paragraph figure.img-revealed {
  -webkit-transform: translateY(0%) rotate(0deg);
          transform: translateY(0%) rotate(0deg);
  opacity: 1;
}

@media screen and (max-width: 950px) {
  .about-content .img-paragraph {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 6fr 1fr;
        grid-template-rows: 1fr 6fr 1fr;
  }
  .about-content .img-paragraph div {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .about-content .img-paragraph img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    max-width: unset;
  }
  .about-content .img-paragraph figure {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .about-content .img-paragraph figure figcaption {
    width: 100%;
    max-width: unset;
    text-align: center;
  }
}

@media screen and (max-width: 625px) {
  .about-content .img-paragraph {
    -ms-grid-rows: 1fr 4fr 2fr;
        grid-template-rows: 1fr 4fr 2fr;
  }
}

@-webkit-keyframes letter-animation-unreveal {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.5;
  }
}

@keyframes letter-animation-unreveal {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.5;
  }
}

@-webkit-keyframes letter-animation-reveal {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes letter-animation-reveal {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes from-bottom-letter-reveal {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes from-bottom-letter-reveal {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes from-bottom-letter-unreveal {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes from-bottom-letter-unreveal {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animateBackgound {
  from {
    background-color: #faf5e3;
  }
  to {
    background-color: #c3b996;
  }
}

@keyframes animateBackgound {
  from {
    background-color: #faf5e3;
  }
  to {
    background-color: #c3b996;
  }
}

@-webkit-keyframes revertAnimateBackgound {
  from {
    background-color: #c3b996;
  }
  to {
    background-color: #faf5e3;
  }
}

@keyframes revertAnimateBackgound {
  from {
    background-color: #c3b996;
  }
  to {
    background-color: #faf5e3;
  }
}

@-webkit-keyframes animate-reveal-Img {
  from {
    -webkit-transform: translateY(100%) rotate(25deg);
            transform: translateY(100%) rotate(25deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes animate-reveal-Img {
  from {
    -webkit-transform: translateY(100%) rotate(25deg);
            transform: translateY(100%) rotate(25deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes animate-unreveal-Img {
  from {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(100%) rotate(25deg);
            transform: translateY(100%) rotate(25deg);
    opacity: 0;
  }
}

@keyframes animate-unreveal-Img {
  from {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(100%) rotate(25deg);
            transform: translateY(100%) rotate(25deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */